In [7]:
#dependencies
import pandas as pd
import numpy as np

In [16]:
results = pd.read_csv('resources/Results-All-Time Results.csv')
results = results.reset_index()

In [17]:
results = results.reset_index()

In [18]:
results = results.drop('index', axis = 1)
results

,level_0,DATE,RESULT,POTROS GOALS,OPPONENT GOALS,OPPONENT,COMPETITION,GOAL SCORERS
0,0,10/07/18,Win,1.0,0.0,HCU Elite,ADASL,Lisandro Hernandez
1,1,10/14/18,Draw,1.0,1.0,Majestic Red,ADASL,Lisandro Hernandez
2,2,10/21/18,Loss,1.0,2.0,GA Tech Club,ADASL,Lisandro Hernandez
3,3,10/28/18,Win,2.0,1.0,Revs U23,ADASL,"Oscar Zavala, Marc Bineau"
4,4,11/04/18,Win,3.0,1.0,Terminus - KLS FC,Perrin Cup,"Lisandro Hernandez, Marc Bineau, Seedou Cham"
...,...,...,...,...,...,...,...,...
137,137,7/24/2022,Win,3.0,0.0,Georgia Revolution U23,ADASL Summer,"Miwoned Siraj, Daniel Ailemen, Kristopher Bass"
138,138,7/24/2022,Win,1.0,0.0,Peachtree FC,ADASL Summer,Samuel Octavius
139,139,7/30/2022,Loss,1.0,2.0,Kalonji Pro-Profile,UPSL Regional Cup,Lucas Pegorer
140,140,7/31/2022,Loss,2.0,4.0,Terminus FC,ADASL Summer,"Kristopher Bass, Manuel Montagut"
141,141,TOTALS,139,312.0,236.0,OVERALL RECORD,75-51-15,NaN

In [19]:
results = results.drop(141)

In [21]:
results['POTROS GOALS'] = results['POTROS GOALS'].fillna(0)

In [22]:
results['OPPONENT GOALS'] = results['OPPONENT GOALS'].fillna(0)

In [23]:
results['OPPONENT GOALS'] = results['OPPONENT GOALS'].astype(int)
results['POTROS GOALS'] = results['POTROS GOALS'].astype(int)

In [24]:
results.dtypes

level_0            int64
DATE              object
RESULT            object
POTROS GOALS       int64
OPPONENT GOALS     int64
OPPONENT          object
COMPETITION       object
GOAL SCORERS      object
dtype: object

In [25]:
results['OPPONENT'].unique()

array(['HCU Elite', 'Majestic Red', 'GA Tech Club', 'Revs U23',
       'Terminus - KLS FC', 'Relegators FC', 'Vinotinto Academy',
       'MOBA Upper 90', 'Sting Black', 'AFC Clayton', 'Revs Blue',
       'RYSA Adult', 'VaHi ATLetic Old Boys', 'Little Five FC', 'Fury FC',
       'Revily FC', 'VaHi ATLetic Juniors', 'Prima FC', 'AFU South Elite',
       'Terminus KLS', 'Pegasus', 'Majestic Red ',
       'Georgia Revolution U23', 'Wings Premier',
       'Georgia Revolution U21', 'Buckhead SC', 'MOBA Knights',
       'Gladiators FC', 'LSA LimeÃ±o', 'Ginga Atlanta FC',
       'Cornerstone Top Pro', 'Seas Jamaica United FC',
       'Forest Rovers FC', 'FC Matata', 'Futuro FC', '11 Oriental',
       'Iraq FC', 'Libertadores', 'Tigres', 'KSA-03', 'Man City',
       'CD Aguila', 'Atlanta Elephants FC', 'CD Platense',
       'Atletico Atlanta ', 'Alianza FC', 'Kalonji Pro-Profile',
       'CD Olimpia', 'FC Stone Mountain', 'Rovers FC', 'CD Marquense',
       'Seas Jamaica All Stars FC', 'KSA Pro-Profile', 'Club ATLetic',
       'Anamoros', 'Atletico Atlanta', 'Georgia Storm FC',
       'ATLetic Old Boys', 'Cavalier Football Club', '\xa0Terminus KLS',
       'Savannah Clovers FC', 'Atlanta United Academy', '\xa0Sting Black',
       'East Atlanta FC Reserves', 'Augusta United FC',
       '\xa0Historic South Atlanta', '\xa0Club The Strongest Atlanta',
       'LimeÃ±o Georgia', '\xa0Brute Force Blue', '\xa0Majestic',
       'Brute Force Orange', 'Club The Strongest Atlanta',
       'Pre-College DA', 'LimeÃ±o Georgia U-20', 'Historic South Atlanta',
       'Cavalier FC', 'Georgia FC', 'FC Birmingham',
       'Club the Stongest Atlanta', 'Seas Jamaica All Stars',
       'Soccer in the Streets LA Mercy', 'Terminus FC', 'Peachtree FC',
       'FC Atlanta Academy', 'Brute Force Blue',
       'Kalonji Pro-Profile U23', 'Middle Georgia United'], dtype=object)

In [26]:
results.loc[results['OPPONENT'].str.contains('\xa0')]['OPPONENT']

84                  Â Terminus KLS
87                   Â Sting Black
90        Â Historic South Atlanta
93    Â Club The Strongest Atlanta
95              Â Brute Force Blue
96                      Â Majestic
97              Â Brute Force Blue
Name: OPPONENT, dtype: object

In [27]:
results['OPPONENT'] = results['OPPONENT'].str.replace('\xa0', '')

In [28]:
results

,level_0,DATE,RESULT,POTROS GOALS,OPPONENT GOALS,OPPONENT,COMPETITION,GOAL SCORERS
0,0,10/07/18,Win,1,0,HCU Elite,ADASL,Lisandro Hernandez
1,1,10/14/18,Draw,1,1,Majestic Red,ADASL,Lisandro Hernandez
2,2,10/21/18,Loss,1,2,GA Tech Club,ADASL,Lisandro Hernandez
3,3,10/28/18,Win,2,1,Revs U23,ADASL,"Oscar Zavala, Marc Bineau"
4,4,11/04/18,Win,3,1,Terminus - KLS FC,Perrin Cup,"Lisandro Hernandez, Marc Bineau, Seedou Cham"
...,...,...,...,...,...,...,...,...
136,136,7/23/2022,Win,2,0,Middle Georgia United,UPSL Regional Cup,"Manuel Carrillo, Augusto Del Rio"
137,137,7/24/2022,Win,3,0,Georgia Revolution U23,ADASL Summer,"Miwoned Siraj, Daniel Ailemen, Kristopher Bass"
138,138,7/24/2022,Win,1,0,Peachtree FC,ADASL Summer,Samuel Octavius
139,139,7/30/2022,Loss,1,2,Kalonji Pro-Profile,UPSL Regional Cup,Lucas Pegorer
140,140,7/31/2022,Loss,2,4,Terminus FC,ADASL Summer,"Kristopher Bass, Manuel Montagut"

In [ ]:
# results.to_csv('results_clean.csv')

In [29]:
players = pd.read_csv('resources/Statistics-All-Time Stats.csv')

In [32]:
players = players.drop(184)
players

,Rank,ID,First Name,Last Name,Name,MP,Goals,Effectiveness,Assists,Yellow Cards,Red Cards
0,1.0,5.0,Marc,Bineau,Marc Bineau,49,29,59.2%,6,8,0
1,2.0,7.0,Manuel,Carrillo,Manuel Carrillo,46,28,60.9%,15,11,1
2,3.0,20.0,Antonio,Carrero,Antonio Carrero,26,19,73.1%,9,2,0
3,4.0,16.0,Seedou,Cham,Seedou Cham,29,15,51.7%,16,3,0
4,5.0,34.0,Sebastian,Montero,Sebastian Montero,20,15,75.0%,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...
178,179.0,166.0,Bryan,Sanchez,Bryan Sanchez,1,0,0.0%,0,0,0
179,180.0,167.0,Yusuf,Saunders,Yusuf Saunders,1,0,0.0%,0,0,0
180,181.0,168.0,Noah,Shumake,Noah Shumake,1,0,0.0%,0,0,0
181,182.0,169.0,Adam,Smallwood,Adam Smallwood,1,0,0.0%,0,0,0
182,183.0,183.0,Anthony,Hoelle,Anthony Hoelle,1,0,0.0%,0,1,0

In [33]:
players = players.drop(['Rank', 'Name', 'MP', 'Goals', 'Effectiveness', 'Assists', 'Yellow Cards', 'Red Cards'], axis=1)

In [34]:
players['ID'] = players['ID'].astype(int)

In [36]:
players.sort_values('ID')

      ID   First Name  Last Name
6      1     Benjamin     Uranga
18     2  Christopher     Uranga
66     3         Alen  Hernandez
14     4    Sebastian    Ramirez
0      5         Marc     Bineau
..   ...          ...        ...
124  179        Jimmy  Hernandez
131  180         Juan     Torres
174  181         Aran   Martinez
111  182    Nchimunya     Okyere
182  183      Anthony     Hoelle

[183 rows x 3 columns]

In [38]:
players.to_csv('players.csv', index = False)

In [102]:
stats = ['Statistics-ADASL 2018-19.csv', 
         'Statistics-ADASL 2019-20.csv', 
         'Statistics-UPSL Fall 2020.csv',
         'Statistics-Liga de Naciones Spring 2021.csv',
         'Statistics-UPSL Spring 2021.csv',
         'Statistics-UPSL Fall 2021.csv',
         'Statistics-ADASL 2021-22.csv', 
         'Statistics-UPSL Regional Cup Winter 2022.csv',
         'Statistics-UPSL Spring 2022.csv',
         'Statistics-ADASL Summer 2022 (2).csv', 
         'Statistics-ADASL Summer 2022.csv', 
         'Statistics-UPSL Regional Cup Summer 2022.csv']

In [112]:
stat_dfs = []
for i in range(12):
    df = pd.read_csv(f'resources/{stats[i]}')
#     print(i)
#     print(f'First name: {df.iloc[len(df)-2,0]}')
#     print(f'Name: {df.iloc[len(df)-2,2]}')
    if i == 9 or i == 10:
        df.columns = df.iloc[0]
        df = df[1:]
        df = df.drop(len(df))
        df = df.drop(len(df))
        df = df.rename(columns = {'Games Played':'MP'})
        df = df.drop(df.columns[2], axis = 1)
        df = df.dropna()
        df.to_csv(f'stats {i+1}.csv')
        stat_dfs.append(df)
        continue
    if 'Games Played' in df.columns:
        df = df.rename(columns = {'Games Played':'MP'})
    if ('Own goal' == df.iloc[len(df)-2,0]) or ('Own goal' == df.iloc[len(df)-2,2]):
        df = df.drop(len(df)-1)
        df = df.drop(len(df)-1)
    else:
        df = df.drop(len(df)-1)
    df = df.drop(df.columns[2], axis = 1)
    df = df.dropna()
    df.to_csv(f'stats {i+1}.csv')
    stat_dfs.append(df)

In [115]:
stats_clean = pd.concat(stat_dfs)
stats_clean.to_csv('stats.csv', index = False)

In [111]:
player_df = pd.read_csv('players.csv')
player_df.groupby('Nationality').count().sort_values('ID', ascending = False)

                       ID  First Name  Last Name  DOB
Nationality
United States          99          99         99   99
Mexico                 14          14         14   14
Haiti                   8           8          8    8
Venezuela               7           7          7    7
Colombia                6           6          6    6
Brazil                  5           5          5    5
Honduras                5           5          5    5
Guatemala               3           3          3    3
Somalia                 3           3          3    3
Zambia                  3           3          3    3
El Salvador             3           3          3    3
Gambia                  2           2          2    2
Cuba                    2           2          2    2
Costa Rica              2           2          2    2
Jamaica                 2           2          2    2
Nigeria                 2           2          2    2
Senegal                 2           2          2    2
Cameroon                1           1          1    1
Turkey                  1           1          1    1
Togo                    1           1          1    1
Thailand                1           1          1    1
St. Kitts and Nevis     1           1          1    1
South Africa            1           1          1    1
Portugal                1           1          1    1
France                  1           1          1    1
Peru                    1           1          1    1
Nicaragua               1           1          1    1
Djibouti                1           1          1    1
British Vigin Islands   1           1          1    1
India                   1           1          1    1
England                 1           1          1    1
Kuwait                  1           1          1    1

In [118]:
competitions = pd.DataFrame({"ID": [1,2,3,4,5,6], "Competition": ["ADASL", "Perrin Cup", "UPSL", "Liga de Naciones", "UPSL Regional Cup", "ADASL Summer"]})
competitions.to_csv('competitions.csv', index = False)